@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@layer base {}

@utility container {
    @apply mx-auto;
}

@theme {
    --font-Montserrat: Montserrat;

    --color-black1: #060606;
    --color-gray1: #F7F7F7;
    --color-gray2: #F4F4F4;
    --color-gray3: #E4E4E4;
    --color-gray4: #EEEEEE;

    --text-40: 2.5rem;

    --radius-10px: 0.625rem;
}

@layer components {
    .item_filter {
        @apply px-3.5 py-2 rounded-3xl;
    }

    .item_filter.active {
        @apply font-semibold text-black;
    }

    .fade-in {
        animation: fadeIn 0.17s ease-in-out;
        -webkit-animation: fadeIn 0.17s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .skeleton {
        @apply animate-pulse bg-gray-200 rounded-sm;
    }

    .tab-btn {
        @apply bg-gray2 rounded-t-xl px-5 py-2.5 cursor-pointer;
    }

    .active-tab {
        @apply bg-white border border-b-0 border-gray3 -mb-px;
    }

    .active {
        @apply text-white font-semibold border-b-2 border-white;
    }
}